{{ define "main" }}
<div id="main">
    <div id="mainSec">
        <div class="fade" id="about">
            <img src="/img/portrait3.jpg" />
            <div class="aboutcontent">
                <h1>{{ .Title }}</h1>
                {{- .Content -}}
                <h1>Contact</h1>
                <a class="contactlink" href="/Christine Zhou Resume Engineering.pdf">Resume</a>
                <span class="contactsep"></span>
                <a class="contactlink" href="mailto:christine_zhou@brown.edu">Email</a>
                <span class="contactsep"></span>
                <a class="contactlink" href="https://www.instagram.com/christineezhou/">Instagram</a>
                <span class="contactsep"></span>
                <a class="contactlink" href="https://www.linkedin.com/in/christine-zhou-2a3028197/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<div class = "cursors">
  <div>
    <span></span>
    </div>

    <script src="cursors.js"></script>

{{ end }}
