{{ define "main" }}
<div id="main">
    <div id="mainSec">
        <h1 class="fade">Engineering</h1>
        <div id="gridSec">
            {{ range where .Site.Pages.ByWeight.Reverse "Params.type" "engineering" }}
            <div class="gridElt">
                <a href={{.Permalink}}><img class="designimage" src="/img/engineering/{{.Params.name}}/main.png"></a>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class = "cursors">
  <div>
  </div>

  <script src="cursors.js"></script>

{{ end }}
