{{ define "main" }}
<div id="project">
    <div class="projectpanel">
        {{ if (isset .Params "name") }}
            {{ $folder := ( .Params.name | printf "/img/design/%s/" ) }}
            {{ $files := readDir ( $folder | printf "/static%s" ) }}
            {{ range $files }}
            <img class="artimage fade" loading="lazy" src="{{$folder}}/{{.Name}}" alt="{{.Name}}" />
            {{ end }}
        {{ end }}
    </div>
    <div class="projectpanel">
        {{- .Content -}}
        <a href="/design"><button>Back</button></a>
    </div>
</div>
{{ end }}