{{ define "main" }}
<div id="project">
    <div class="projectpanel">
        <div class="projectphotos">
            {{ if (isset .Params "name") }}
                {{ if eq .Params.type "design" }}
                  {{ $folder := ( .Params.name | printf "/img/design/%s/" ) }}
                  {{ $files := readDir ( $folder | printf "/static%s" ) }}
                  {{ range $files }}
                  <img class="artimage fade" loading="lazy" src="{{$folder}}/{{.Name}}" alt="{{.Name}}" />
                  {{ end }}
                {{ else if eq .Params.type "engineering" }}
                  {{ $folder := ( .Params.name | printf "/img/engineering/%s/" ) }}
                  {{ $files := readDir ( $folder | printf "/static%s" ) }}
                  {{ range $files }}
                  <img class="artimage fade" loading="lazy" src="{{$folder}}/{{.Name}}" alt="{{.Name}}" />
                  {{ end }}
                {{ end }}

            {{ end }}
        </div>
        {{- .Content -}}
    </div>
</div>
{{ end }}
