{{ define "main" }}
<div id="project">
    <div class="projectpanel">
        <div class="projectphotos">
            {{ if (isset .Params "name") }}
                {{ $folder := ( .Params.name | printf "/img/design/%s/" ) }}
                {{ $files := readDir ( $folder | printf "/static%s" ) }}
                {{ range $files }}
                <img class="artimage fade" loading="lazy" src="{{$folder}}/{{.Name}}" alt="{{.Name}}" />
                {{ end }}
            {{ end }}
        </div>
        {{- .Content -}}
        <a href="javascript:history.back()"><button>Back</button></a>
    </div>
</div>
{{ end }}
