/* ================== */
/* HOUSEKEEPING */
/* ================== */

:root {
    --sm-width: 768px;
    --md-width: 992px;
    --lg-width: 1200px;
    --color-light-gray: #999;
    --color-gray: #666;
    --color-dark-gray: #555;
    --color-black: #000;
    --font-header: 'Overpass', sans-serif;
    --font-body: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--font-body);
    font-weight: 200;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    line-height: 1.75rem;
}

ul,
ol,
li > p {
    margin: 0;
}

img {
    border-radius: 25px;
}

button {
    border: none;
    background-color: var(--color-gray);
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--color-dark-gray);
}

/* =================================== */
/* EFFECTS */
/* =================================== */

.fade {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.faded-in {
    opacity: 1;
    transform: translateY(0px);
}

/* ================== */
/* NAV */
/* ================== */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

div.navholder {
    width: 90%;
    max-width: var(--md-width);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span.navlink {
    margin: 20px;
}

span.navlink > a {
    color: var(--color-gray);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: var(--font-body);
    font-weight: 400;
    transition: color 0.2s;
}

span.navlink > a:hover {
    color: var(--color-light-gray);
}

div.navholder-mobile {
    display: none;
}

span.hamburger {
    display: none;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    div.navholder {
        display: none;
    }

    div.navholder-mobile {
        display: block;
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

    a.closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
        color: var(--color-black);
        text-decoration: none;
    }

    div.navholder-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    div.navholder-content > a {
        padding: 8px;
        text-decoration: none;
        font-size: 24px;
        color: var(--color-black);
        display: block;
        text-transform: uppercase;
    }

    span.hamburger {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
      }
}

/* ================== */
/* MAIN */
/* ================== */

main#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#main {
    width: 90%;
    max-width: var(--md-width);
}

div#mainSec > h1 {
    margin: 80px 0 40px 0;
    text-align: center;
}

div#mainSec > h5 {
    margin: 80px 0 45px 0;
    text-align: center;
}

div#gridSec {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    div#gridSec {
        grid-template-columns: repeat(1, 1fr);
    }

    div.gridElt {
        text-align: center;
    }
}

div.gridElt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.gridElt > h2 {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
}

div.gridElt > p {
    margin-top: 0;
    color: var(--color-dark-gray);
    font-size: 0.75rem;
}

div.gridElt > a > img {
    width: 300px;
    height: 300px;
    transition: opacity 0.2s ease-in-out, transform 0.25s ease-in-out;
}

div.gridElt > a > img:hover {
    transform: scale(1.05);
}

/* ================== */
/* HOME */
/* ================== */

div.landingoptions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    div.landingoptions {
        flex-direction: column;
    }
}

div.landingoptiondiv {
    transition: transform 0.25s;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 20px;
}

div.landingoptiondiv:hover {
    transform: scale(1.05);
}

div.landingoptiondiv > h2 {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
}

div.landingoptiondiv > p {
    margin-top: 0;
    color: var(--color-dark-gray);
    font-size: 0.75rem;
}

a.landingoption {
    width: 100%;
    height: 300px;
    max-height: 50vh;
    padding: 20px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

div.hero {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.hero > a > img.hero-img {
    width: 150px;
}

div.hero > h1.hero-header {
    color: var(--color-black);
    font-weight: 600;
}

div.hero > h2.hero-subheader {
    color: var(--color-gray);
    font-weight: 400;
}

@media (max-width: 768px) {
    div.hero > a > img.hero-img {
        width: 100px;
    }

    div.hero > h1.hero-header {
        margin: 0;
    }

    div.hero > h2.hero-subheader {
        margin: 0;
    }
}

/* ================== */
/* PROJECT */
/* ================== */

div#project {
    display: flex;
    max-width: var(--lg-width);
    width: 90%;
}

div.projectpanel {
    width: 100%;
    margin: 20px;
}

div.projectpanel > p > img {
    display: block;
    max-width: 50vw;
    max-height: 90vh;
    margin: 20px auto;
}

div.projectpanel > div.projectphotos {
    display: flex;
    flex-direction: column;
    float: right;
}

div.projectpanel > div.projectphotos > img.artimage {
    width: 30vw;
    margin: 20px 40px;
}

@media (max-width: 768px) {
    div.projectpanel {
        margin-top: 10vh;
    }

    div.projectpanel > iframe {
        width: 90%;
        max-width: 90vw;
    }

    div.projectpanel > div > iframe {
        width: 90%;
        max-width: 90vw;
    }

    div.projectpanel > p > a {
        overflow-wrap: break-word;
    }

    div.projectpanel > p > img {
        width: 90%;
        max-width: 90vw;
    }

    div.projectpanel > div.projectphotos > img.artimage {
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
    }
}

img.designimage {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

img.designimage:hover {
    filter: none;
  }

/* ================== */
/* ART */
/* ================== */

div.artsection {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    div.artsection {
        grid-template-columns: repeat(2, 1fr);
    }

    div.artsection > img {
        max-width: 40vw;
        max-height: 40vw;
    }
}

div.artsection > img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    margin: auto;
    transition: opacity 0.2s ease-in-out, transform 0.25s ease-in-out;
}

div.artsection > img:hover {
    transform: scale(1.05);
}

div.artsection > div.artlightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0;
}

div.artsection > div.artlightbox > h1 {
    margin: 10px;
}

div.artsection > div.artlightbox > img {
    background-color: aliceblue;
    max-height: 60vh;
    max-width: 50vw;
}

/* ================== */
/* ABOUT */
/* ================== */

div#about {
    display: flex;
}

@media (max-width: 768px) {
    div#about {
        flex-direction: column;
    }
}

div#about > img {
    background-color: aliceblue;
    margin: 20px;
    max-width: 333px;
    max-height: 500px;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    div#about > img {
        display: none;
    }
}

div#about > div.aboutcontent {
    margin: 20px;
}

div#about > div.aboutcontent > h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

div#about > div.aboutcontent > a.contactlink {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
    margin: 10px;
}

div#about > div.aboutcontent > a.contactlink:hover {
    color: var(--color-light-gray);
}

div#about > div.aboutcontent > span.contactsep {
    height: 3rem;
    border-right: 2px var(--color-light-gray) solid;
    margin: 0;
}

/* ================== */
/* CURSOR */
/* ================== */
/* div.cursors div{
  position: absolute;
  top:300px;
  left:300px;
  width:30px;
  height:30px;
  background-color:#000000;
  border-radius:50%;
  z-index:100000;
  pointer-events:none;
  transform:translate(-50%,-50%);

}

div.cursors div span {
  position:absolute;
  top:0;
  left:40px;
  width:300px;

  font-size:32px;
  font-weight:700;
  line-height:32px;
  color:#000000;
} */
