/* ================== */
/* HOUSEKEEPING */
/* ================== */

:root {
    --sm-width: 768px;
    --md-width: 992px;
    --lg-width: 1200px;
    --color-light-gray: #999;
    --color-gray: #666;
    --color-dark-gray: #555;
    --color-black: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}

p {
    line-height: 1.75rem;
}

ul,
ol,
li > p {
    margin: 0;
}

button {
    border: none;
    background-color: var(--color-gray);
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:hover {
    background-color: var(--color-dark-gray);
}

/* =================================== */
/* EFFECTS */
/* =================================== */

.fade {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.faded-in {
    opacity: 1;
    transform: translateY(0px);
}

/* ================== */
/* NAV */
/* ================== */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

div.navholder {
    width: 90%;
    max-width: var(--md-width);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span.navlink {
    margin: 20px;
}

span.navlink > a {
    color: var(--color-gray);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.2s;
}

span.navlink > a:hover {
    color: var(--color-light-gray);
}

span.navsep {
    height: 3rem;
    border-right: 2px var(--color-light-gray) solid;
}

div.navholder-mobile {
    display: none;
}

span.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    div.navholder {
        display: none;
    }

    div.navholder-mobile {
        display: block;
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

    a.closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
        color: var(--color-black);
        text-decoration: none
    }

    div.navholder-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    div.navholder-content > a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: var(--color-black);
        display: block;
        text-transform: uppercase;
    }

    span.hamburger {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
      }
}

/* ================== */
/* MAIN */
/* ================== */

main#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#main {
    width: 90%;
    max-width: var(--md-width);
}

div.hero {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.hero > a > img.hero-img {
    width: 150px;
}

div.hero > h1.hero-header {
    color: var(--color-black);
    font-weight: 600;
}

div.hero > h2.hero-subheader {
    color: var(--color-gray);
    font-weight: 400;
}

@media (max-width: 768px) {
    div.hero > a > img.hero-img {
        width: 100px;
    }

    div.hero > h1.hero-header {
        margin: 0;
    }

    div.hero > h2.hero-subheader {
        margin: 0;
    }
}

/* ================== */
/* HOME */
/* ================== */

div.landingoptions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    div.landingoptions {
        flex-direction: column;
    }
}

div.landingoptions > a {
    color: var(--color-black);
    text-decoration: none;
    transition: transform 0.25s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

div.landingoptions > a:hover {
    transform: scale(1.05);
}

div.landingoptions > a > div.landingoption {
  /*  padding: 10px 20px;
    background-color: white;*/
    font-size: 20px,
    position: absolute;
    top: 200px;
    color: black;
}

div.landingoptions > a > div.landingoption > h2 {
    margin: 0;
}

/* ================== */
/* DESIGN */
/* ================== */

div#design > div.designsection {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    div#design > div.designsection {
        grid-template-columns: repeat(1, 1fr);
    }
}

div#design > div.designsection > a > img {
    width: 300px;
    height: 225px;
    object-fit: cover;
    margin: auto;
    transition: opacity 0.2s ease-in-out, transform 0.25s ease-in-out;
}

div#design > div.designsection > a > img:hover {
    transform: scale(1.05);
}

/* ================== */
/* PROJECT */
/* ================== */

div#project {
    display: flex;
    max-width: var(--lg-width);
    width: 90%;
}

div.projectpanel {
    width: 100%;
    margin: 20px;
}

div.projectpanel > p > img {
    display: block;
    max-width: 50vw;
    max-height: 90vh;
    margin: 20px auto;
}

div.projectpanel > div.projectphotos {
    display: flex;
    flex-direction: column;
    float: left;
}

div.projectpanel > div.projectphotos > img.artimage {
    width: 30vw;
    margin: 20px 40px;
}

@media (max-width: 768px) {
    div.projectpanel > p > img {
        width: 100%;
        max-width: 100vw;
    }

    div.projectpanel > div.projectphotos > img.artimage {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

/* ================== */
/* ART */
/* ================== */

div#art {
    text-align: center;
}

div#art > h1 {
    margin: 80px 0 40px 0;
}

div#art > div.artsection {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    div#art > div.artsection {
        grid-template-columns: repeat(2, 1fr);
    }

    div#art > div.artsection > img {
        max-width: 40vw;
        max-height: 40vw;
    }
}

div#art > div.artsection > img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    margin: auto;
    transition: opacity 0.2s ease-in-out, transform 0.25s ease-in-out;
}

div#art > div.artsection > img:hover {
    transform: scale(1.05);
}

div#art > div.artsection > div.artlightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0;
}

div#art > div.artsection > div.artlightbox > h1 {
    margin: 10px;
}

div#art > div.artsection > div.artlightbox > img {
    background-color: aliceblue;
    max-height: 60vh;
    max-width: 50vw;
}

/* ================== */
/* ABOUT */
/* ================== */

div#about {
    display: flex;
}

@media (max-width: 768px) {
    div#about {
        flex-direction: column;
    }
}

div#about > img {
    background-color: aliceblue;
    margin: 20px;
    max-width: 333px;
    max-height: 500px;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    div#about > img {
        margin: auto;
    }
}

div#about > div.aboutcontent {
    margin: 20px;
}

div#about > div.aboutcontent > h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

div#about > div.aboutcontent > a.contactlink {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
    margin: 10px;
}

div#about > div.aboutcontent > a.contactlink:hover {
    color: var(--color-light-gray);
}

div#about > div.aboutcontent > span.contactsep {
    height: 3rem;
    border-right: 2px var(--color-light-gray) solid;
    margin: 0;
}

/* ================== */
/* FOOTER */
/* ================== */

footer#footer {
    margin-top: 10vh;
    padding: 0;
    background-color: var(--color-black);
    color: white;
}

footer#footer div#bottombar {
    text-align: right;
    padding: 0 20px;
}

footer#footer div#bottombar a {
    color: white;
}
