<nav>
    <div class="navholder">
        <span class="navlink">
            <a href="/">Home</a>
        </span>
        <span class="navsep"></span>
        <span class="navlink">
            <a href="/engineering">Engineering</a>
        </span>
        <span class="navsep"></span>
        <span class="navlink">
            <a href="/art">Art</a>
        </span>
        <span class="navsep"></span>
        <span class="navlink">
            <a href="/design">Design</a>
        </span>
        <span class="navsep"></span>
        <span class="navlink">
            <a href="/about">About</a>
        </span>
    <!-- {{ range where .Site.Pages.ByWeight "Params.type" "nav" }}
        <span class="navsep"></span>
        <span class="navlink">
            <a href={{.Permalink}}>{{ .Title }}</a>
        </span>
    {{ end }} -->
    </div>
</nav>
