<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Christine Zhou's portfolio website" />
    <meta name="keywords"
        content="Christine Zhou, Design, Portfolio, Art, Engineering, Mechanical Engineering, Brown University, Brown, Providence" />
    <meta name="author" content="Christine Zhou" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href='{{ "img/logo.png" | absURL }}' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Overpass:wght@600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">
        {{ partial "css/style.css" . | safeCSS }}
    </style>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8N20WQ22Z"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q8N20WQ22Z');
    </script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8HDX5M2YK4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8HDX5M2YK4');
</script>

</head>
